* {
	margin: 0;
	padding: 0;
	background-color: #3498db;
	box-sizing: content-box;
}

#carousel {
	width: 400px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid black;
	border-radius: 5px;
}

ul {
	padding: 0;
	margin: 0;
	width: 2000px;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	height: 300px;
	width: 400px;
}

#carousel .prev, #carousel .next {
	cursor: pointer;
	width: 40px;
	height: 300px;
	position: absolute;
	z-index: 2;
	//top: 50%;
	transform: translate(, -50%);
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 300px;
	font-weight: bold;
}

#carousel .prev {
	background: linear-gradient(to left, transparent, #2c3e50);
}

#carousel .next {
	left: 360px;
	background: linear-gradient(to right, transparent, #2c3e50);
}

.pic {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic-1 {
	background-image: url(https://images.pexels.com/photos/89432/pexels-photo-89432.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-2 {
	background-image: url(https://images.pexels.com/photos/91121/pexels-photo-91121.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-3 {
	background-image: url(https://images.pexels.com/photos/91413/pexels-photo-91413.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-4 {
	background-image: url(https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-5 {
	background-image: url(https://images.pexels.com/photos/92225/pexels-photo-92225.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}
