* {
	margin: 0;
	padding: 0;
	background-color: #3498db;
	box-sizing: border-box;
}

#carousel {
	width: 500px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid black;
	border-radius: 5px;
}

ul {
	padding: 0;
	margin: 0;
	width: 2500px;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	height: 300px;
	width: 500px;
}

.arrow {
	cursor: pointer;
	position: absolute;
	background: transparent;	
	z-index: 5;
	width: 20px;
	height: 20px;
	border-top: 3px solid #fff;
	border-left: 3px solid #fff;
	top: 50%;
	transform: translateY(50%);
	transition: border-color .3s ease-out;
}

.arrow:hover {
	border-color: #8e44ad;
}

.arrow-prev {
	left: 15px;
	transform: rotate(-45deg)
}

.arrow-next {
	right: 15px;
	transform: rotate(135deg);
}

.carousel-indicators {
	position: absolute;
	display: flex;
	justify-content: center;
	text-align: center;
	background-color: transparent;
	bottom: 0;
	width: 100%;
	z-index: 5;
	bottom: 5px;
}

.carousel-indicators li {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin: 5px;
	cursor: pointer;
	background-color: #fff;
	border-radius: 50%;
	list-style-type: none;
	transition: background .3s ease-out;
}

li.active {
	background: #8e44ad;
}

.carousel-indicators li:hover {
	background: #2b2b2b;
}

.pic {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic-1 {
	background-image: url(https://images.pexels.com/photos/89432/pexels-photo-89432.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-2 {
	background-image: url(https://images.pexels.com/photos/91121/pexels-photo-91121.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-3 {
	background-image: url(https://images.pexels.com/photos/91413/pexels-photo-91413.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-4 {
	background-image: url(https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-5 {
	background-image: url(https://images.pexels.com/photos/92225/pexels-photo-92225.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}