* {
	margin: 0;
	padding: 0;
	background-color: #3498db;
	box-sizing: border-box;
}

#carousel {
	width: 400px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border: 4px solid black;
	border-radius: 5px;
}

ul {
	padding: 0;
	margin: 0;
	width: 2000px;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
	float: left;
	height: 300px;
	width: 400px;
}

.carousel-control {
	cursor: pointer;
	width: 10%;
	position: absolute;
	text-align: center;
	color: #fff;
	font-size: 24px;
	line-height: 300px;
	font-weight: bold;
	opacity: 0;
}

.carousel-control:hover {
	opacity: .8;
}

.prev {
	background: linear-gradient(to left, transparent, #000);
	left: 0;
	right: auto;
}

.next {
	background: linear-gradient(to right, transparent, #000);
	right: 0;
	left: auto;
}

.carousel-indicators {
	position: absolute;
	display: flex;
	justify-content: center;
	text-align: center;
	list-style: none;
	background-color: transparent;
	bottom: 10px;
	margin-left: 20%;
	width: 60%;
	z-index: 5;
}

.carousel-indicators li {
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 2px;
	cursor: pointer;
	border: 1px solid #fff;
	background-color: transparent;
	border-radius: 50%;
	transform: translate(0, -50%);
}

li.active {
	background: #fff;
	width: 13px;
	height: 13px;
}

.pic {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.pic-1 {
	background-image: url(https://images.pexels.com/photos/89432/pexels-photo-89432.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-2 {
	background-image: url(https://images.pexels.com/photos/91121/pexels-photo-91121.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-3 {
	background-image: url(https://images.pexels.com/photos/91413/pexels-photo-91413.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-4 {
	background-image: url(https://images.pexels.com/photos/46274/pexels-photo-46274.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}

.pic-5 {
	background-image: url(https://images.pexels.com/photos/92225/pexels-photo-92225.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
}